.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
body{

background-color: #F0F2EB;
padding: 2px;
}

div{

	outline:0;
}
a{

	color: #f0f2eb;
}

hr{

	border-top: 1px solid rgba(19, 18, 18, 0.21);
}

input[type="checkbox"]{

margin: 0px;
transform: scale(1.5);

}

.header{
	border:0;
	position: fixed; 
	top:0px; 
	height: 12%; 
	width:100%; 
	background: linear-gradient(to bottom right,#FF512F , #F09819);
	z-index: 1;
	border-radius: 10px;
	/* background: #404452 none repeat scroll 0 0; */
	
}

.footer{
	border:0;
	position: fixed; 
	bottom:0px; 
	height: 5%; 
	width:100%;
	background: linear-gradient(to top left ,#FF512F , #F09819);
	z-index: 1;	
	border-radius: 5px;
	/* background: #404452 none repeat scroll 0 0; */
	
 }

.left-menu {
	border:0;
    width: 20%;
    height: 81.5%;
    position: fixed;
    top: 12.6%;
	background: #404452 none repeat scroll 0 0;
	z-index: 1;	
	border-radius: 4px;
	padding-top: 75px;
}

/* .right-content:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%; 
}

.right-content:before {
  content: "";
  display: block;
  height: 6px;
  width: 100%; 
} */

.right-content{
	padding: 2px;
	border:0;
	width: 79.6%;
    height: auto;
    position: absolute;
    right: 0;
    top: 12.6%;
	background: #F0F2EB none repeat scroll 0 0;

}

.menu > ul{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}


.menu > ul li a{
	   font-family: stencil;
		letter-spacing: 2px;
	   display: block;
	   text-decoration: none;
	   padding-top: 9px;
	   padding-bottom: 9px;
	   transition: padding-left .2s, color .2s, background-color .2s;
	   border-bottom: 1px solid #F0F2EB;
	   font-weight: bold;
	   font-size: larger;
}

.menu > ul li a:hover{
    background-color: #F0F2EB;
    color: #ff6e42;
	padding-left: 48px;

}

.Active-Link{
    background-color: #F0F2EB;
    color: #ff6e42;
	padding-left: 48px;
}

.content{
    padding-left: 1%;
    padding-bottom: 4%;
    padding-right: 1%;
    padding-top: 1%;
}


.on{
    background-color: #F0F2EB;
    color: #ff6e42;
	padding-left: 48px;
}

.off{
    background-color: #404452;
    color: #f0f2eb;
	padding-left: 0px;


}


.div-add-tsk .form-control{
	width: 720px;
    height: 39px;
    margin-bottom: 0px;
    display: inline-block;
    margin: 42px 0px;
}


.div-add-tsk .btn{

height: 38px;

}

.each-task{
	border: 1px solid rgba(64, 68, 82, 0.46);
    border-radius: 4px;
    height: 41px;
    line-height: 38px;
    margin-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 6px 4px 13px -3px rgba(64, 68, 82, 0.58);
    overflow: inherit;
    height: 100%;
}


.each-task:active{

transform: translateY(2px);
box-shadow: 6px 4px 4px -3px rgba(64, 68, 82, 0.58);


}



.hide{

	display: none;
}

.show{

	display: block;
	padding-left: 57px;
    padding-top: 13px;
    padding-bottom: 10px;
    position: relative;
}


.task-name{
    font-size: 19px;
    margin-left: 28px;
}



 .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

  .input-group .overrrideText{

  	width: 249px;
    z-index: 0;
  }

  .input-group .overrrideBtn{

  	right: -37px;
    position: absolute;
    top: 0px;
    z-index: 0;
  }

  .input-group .overrridedrp{

  	z-index: inherit;
  }

  .show .btn-primary{
    position: absolute;
    bottom: 123px;
    left: 550px;
    height: 70px;
    width: 130px;
   

  }

.show .btn-primary:hover{
      background-color: #c9302c;
    border-color: #ac2925;
  }

.select-tsk{
	text-align: right;
    margin-bottom: 13px;
}