div{

	outline:0;
}
a{

	color: #f0f2eb;
}

.header, .left-menu, .right-content, .footer{border: 1px solid}

.header{
	position: fixed; 
	top:0px; 
	height: 12%; 
	width:100%; 
	background: linear-gradient(135deg, #ff6e42 22%,#f9fcf7 100%);
	/* background: #404452 none repeat scroll 0 0; */
	
}

.footer{
	position: fixed; 
	bottom:0px; 
	height: 5%; 
	width:100%;
	background: linear-gradient(135deg, #ff6e42 22%,#f9fcf7 100%);	
	/* background: #404452 none repeat scroll 0 0; */
	
 }

.left-menu {
    width: 20%;
    height: 81.5%;
    position: fixed;
    top: 12.6%;
	background: #404452 none repeat scroll 0 0;
}


.right-content{
	width: 79.6%;
    height: 81.5%;
    position: absolute;
    right: 0;
    top: 12.6%;
	background: #F0F2EB none repeat scroll 0 0;

}

.menu > ul{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}


.menu > ul li a{
	   font-family: stencil;
		letter-spacing: 2px;
	   display: block;
	   text-decoration: none;
	   padding-top: 9px;
	   padding-bottom: 9px;
	   transition: padding-left .6s, color .6s, background-color .6s;
	   border-bottom: 1px solid #F0F2EB;
	   font-weight: bold;
	   font-size: larger;
}

li a:hover{
    background-color: #f0f2eb;
    color: #ff6e42;
	padding-left: 48px;

}

